html, body {
    background: #3AAFA9;
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
}

#wrapper {
    background: #FEFFFF;
    height: auto;     
    min-height: 100%;
    margin: 0px auto;
    padding: 0px auto;
}

#dashboardHero {
    background: #17252A;
    color: #FEFFFF;
    height: 150%;
    padding-top: 3%;
    padding-left: 1%;
}

#mainFeed {
    height: auto;     
    min-height: 100%;
    margin-top: 7%;
    margin-left: 2%;
    border: black solid 2px;
    overflow: auto;
}

#rightCol {
    float: right;
    margin-top: 7%;
}

#bookHeader {
    background-color: #17252A;
}

#bookHeaderTitle {
    display: inline-block;
    color: #FEFFFF;
}

#searchBookButton {
    float: right;
}

#currentBookCard {
    margin-top: 2%;
    margin-bottom: 2%;
    clear: right;
}

.bookThumbnail {
    float:left; 
    height:280px;
    width: 220px; 
    margin-right: 2%;
}

#membersCardHeader {
    background-color: #17252A;
}

#membersCardTitle {
    display: inline-block;
    color: #FEFFFF;
}

#addMemberButton {
    float: right;
}

#meetupCard {
    margin-top: 5%;
}

#meetupCardHeader {
    background-color: #17252A;
}

#meetupCardTitle {
    display: inline-block;
    color: #FEFFFF;
}

#createMeetupButton {
    float: right;
}

/* ======================= MODALS ====================== */

#bookTitle {
    display: inline-block;
}

#searchBook {
    float: right;
}

