html, body {
    background: #3AAFA9;
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
}

#wrapper {
    background: #FEFFFF;
    height: auto;     
    min-height: 100%;
    margin: 0px auto;
    padding: 0px auto;
}

#dashboardHero {
    background: #17252A;
    color: #FEFFFF;
    height: 150%;
    padding-top: 3%;
    padding-left: 1%;
}

#mainFeed {
    margin-top: 7%;
    margin-left: 2%;
}

#rightCol {
    float: right;
    background: lightgrey;
    margin-top: 7%;
}
