html, body {
    background: #3AAFA9;
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
}

.bg {
    /* The image used */
    background-image: url('../sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    height: auto;     
    min-height: 100%;
    margin: 0px auto;
    padding: 0px auto;
}

#dashboardHero {
    background: #17252A;
    color: #FEFFFF;
    height: 150%;
    padding-top: 3%;
    padding-left: 1%;
}

#mainFeed {
    height: auto;     
    min-height: 100%;
    margin-top: 7%;
    margin-left: 5%;
    overflow: auto;
}

#rightCol {
    float: right;
    margin-top: 7%;
}

#bookHeader {
    background-color: #17252A;
}

#bookHeaderTitle {
    display: inline-block;
    color: #FEFFFF;
}

#searchBookButton {
    float: right;
}

#currentBookCard {
    margin-top: 2%;
    margin-bottom: 2%;
    clear: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

#nextBookCard {
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.bookThumbnail {
    float:left; 
    height:280px;
    width: 220px; 
    margin-right: 2%;
}

#membersCardHeader {
    background-color: #17252A;
}

#membersCardTitle {
    display: inline-block;
    color: #FEFFFF;
}

#addMemberButton {
    float: right;
}

#memberList {
    padding: 0px;
}

.member {
    display: inline-block;
    margin-right: 3%;
}

#removeButton {
    display: inline-block;
}

#meetupCard {
    margin-top: 5%;
}

#meetupCardHeader {
    background-color: #17252A;
}

#meetupCardTitle {
    display: inline-block;
    color: #FEFFFF;
}

#createMeetupButton {
    float: right;
}

#currentBookImage {
    float: left;
    margin-right: 2%;
}

#currentBookTitle {
    margin-bottom: 15px;
}


#NextBookImage {
    float: left;
    margin-right: 2%;
}

#NextBookTitle {
    margin-bottom: 15px;
}


/* ======================= MODALS ====================== */

#bookTitle {
    display: inline-block;
}

#searchBook {
    float: right;
}

#resBookImage {
    float: left;
    margin-right: 2%;
}

#resBookTitle {
    margin-bottom: 15px;
}

