body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url('../sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#loginScreen {
    margin: 18% 5% 1% 5%;;
}


#LoginPageLink{
    display: inline-block;
}

#signPageLink {
    display:inline; 
    margin-left:25px;
}

.signup {
    margin-top: 30px;
}

.login {
    margin-top: 30px;
}

.whiteText {
    color: #FEFFFF;
}

.navyText {
    color: #17252A;
}

#loginTextWrapper {
    background-color: #17252A;
}

#introText {
    float: left;
    width: 45%;
    height: 100%;
    text-align: center;
}

#loginText {
    margin: 5px 0px 10px 20px;
}

#loginForm {
    float: right;
    background: #17252A;
    width: 36%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

#loginFormFields {
    background-color: #FEFFFF;
    margin: 0px;
    padding: 15px 16px 50px 17px;
    border-radius: 2px 2px 15px 15px;
}

.formButton {
    margin-top: 20px;
    margin-left: 23%;
    width: 55%;
    height: 45px;
    background-color: #17252A;
    color: #FEFFFF;
    border-radius: 40px;
}

.formButton:hover {
    background-color:rgb(23, 160, 160);
}


#signUpScreen {
    background: #17252A;
    margin: 15% 0% 20% 1%;
    width: 58%;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

#signUpText {
    float: left;
    width: 40%;
    height: 100%;
    padding: 2% 3% 1% 3%;
    text-align: center;
    color: #FEFFFF;
}

#signUpTitle{
    margin-bottom: 25px;
}

#signUpForm {
    float: right;
    width: 60%;
    height: 100%;
    padding: 2% 6% 1% 4%;
    background-color: #FEFFFF;
    border-radius: 0px 15px 15px 0px;
    color: #17252A;
}